src/main/mule/api.1.7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fd1ee842-385e-4553-bbb2-1f799669bbc6">
		<http:request-connection host="api.chucknorris.io"/>
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="38521770-5968-4ca9-9bb1-4da941b013e2" />
	<flow name="api.1.7Flow" doc:id="a4cc6514-ecc1-413f-94d6-fe6af10fa5b2" >
		<scheduler doc:name="Scheduler" doc:id="e07c01fd-f0e1-4909-871e-12f236211832" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<http:request method="GET" doc:name="Request" doc:id="cb5438a8-6ad7-4227-8cd6-fb60a8f5c586" config-ref="HTTP_Request_configuration" path="/jokes/random"/>
		<ee:transform doc:name="Transform Message" doc:id="45c959ae-de81-4731-84af-a268fd66227d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.value]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="7507ee85-6ccd-4675-be47-05a331632692" config-ref="File_Config" path="C:\Users\admin\Desktop\tecemer\chuck_noris.json" mode="CREATE_NEW"/>
	</flow>
</mule>
